node_modules/
.vscode
.jshintrc
.bowerrc

public/lib/angular/*
!public/lib/angular/angular.min.js

public/lib/angular-route/*
!public/lib/angular-route/angular-route.min.js

public/lib/bootstrap/*
!public/lib/bootstrap/dist/
public/lib/bootstrap/dist/*
!public/lib/bootstrap/dist/css
public/lib/bootstrap/dist/css/*
!public/lib/bootstrap/dist/css/bootstrap.min.css
!public/lib/bootstrap/dist/js
public/lib/bootstrap/dist/js/*
!public/lib/bootstrap/dist/js/bootstrap.min.js

public/lib/jquery/*
!public/lib/jquery/dist/
public/lib/jquery/dist/*
!public/lib/jquery/dist/jquery.min.js