node_modules/
.vscode
.jshintrc
.bowerrc
public/lib/*
!angular/angular.min.js
!angular-route/angular-route.min.js
!bootstrap/dist/css/bootstrap.min.css
!bootstrap/dist/js/bootstrap.min.js
!jquery/dist/jquery.min.js